.poster {
  width: 300px;
  margin: 20px 0px;
  cursor: pointer;
  border-radius: 0.5rem;
}

.poster:hover {
  box-shadow: 0 0 15px black;
  transition: all linear 0.2s;
  border-radius: 1rem;
}

.posters {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap;
}

.reels {
  background-color: rgb(53, 53, 53);
}

.header {
  background-color: rgb(28, 28, 28);
  padding: 10px;
  box-shadow: 0 0 5px #757575;
}

.header h1 {
  color: antiquewhite;
  text-align: center;
  font-family: 'Courier New', Courier, monospace;
}
